@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body,
  #root {
    @apply h-full;
  }
}

@font-face {
  font-family: "Roslindale";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../font/Roslindale-DisplayRegular.woff2) format("woff2"),
    url(../font/Roslindale-DisplayRegular.woff) format("woff");
}

@font-face {
  font-family: "Roslindale";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(../font/Roslindale-TextBold.woff2) format("woff2"),
    url(../font/Roslindale-TextBold.woff) format("woff");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../font/inter-regular.woff2) format("woff2"),
    url(../font/inter-regular.woff) format("woff");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(../font/inter-600.woff2) format("woff2"),
    url(../font/inter-600.woff) format("woff");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(../font/inter-700.woff2) format("woff2"),
    url(../font/inter-700.woff) format("woff");
}
