@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body,
  #root {
    @apply h-full;
  }

  /**
   * Fixes the autocomplete style change chrome does automatically... not by
   * stopping it, which you apparently can't do, but by causing it to take seven
   * days to show up.
   **/
  input:-webkit-autofill,
  input:-webkit-autofill:focus,
  textarea:-webkit-autofill,
  textarea:-webkit-autofill:focus,
  select:-webkit-autofill,
  select:-webkit-autofill:focus {
    transition: background-color 600000s 0s, color 600000s 0s;
  }
  input[data-autocompleted] {
    background-color: transparent !important;
  }

  /* These classes allow removing the arrow buttons on number inputs. */
  -webkit-inner-spin-button,
  -webkit-outer-spin-button {
    -webkit-appearance: none !important;
    margin: 0 !important;
  }
  input[type="number"] {
    -moz-appearance: textfield !important;
  }
}

@font-face {
  font-family: "Roslindale";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../font/Roslindale-DisplayRegular.woff2) format("woff2"),
    url(../font/Roslindale-DisplayRegular.woff) format("woff");
}

@font-face {
  font-family: "Roslindale";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(../font/Roslindale-TextBold.woff2) format("woff2"),
    url(../font/Roslindale-TextBold.woff) format("woff");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../font/inter-regular.woff2) format("woff2"),
    url(../font/inter-regular.woff) format("woff");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(../font/inter-600.woff2) format("woff2"),
    url(../font/inter-600.woff) format("woff");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(../font/inter-700.woff2) format("woff2"),
    url(../font/inter-700.woff) format("woff");
}
